# Data Processing using Pyspark in Google Colab

# Sección nueva

In [1]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar xf spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("data_processing")\
    .master("local[*]")\
    .config("spark.driver.memory","16G")\
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M")\
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4")\
    .config('fs.s3a.access.key', "ASIA4WWE6IPF7OR5EKO5") \
    .config('fs.s3a.secret.key', "8aIg1bV4hVhEA4D5xBvF8HZuoZ0i51QQ0uHQv7zf") \
    .config('fs.s3a.session.token',"FwoGZXIvYXdzEKD//////////wEaDMOep5MYERWOXC9diiLHASjbL+l7IFX8Ya/P6roU5phbKKyDRTLellv5mfGr/8iVfS8qAFqfzT1qzsEOdXI1Hom1qBzpyGS/PuqxpRgLxR+KkRLQOypkPGArEJSs8nBO8m+/I6Hblf7cmUUPvGY9YFrG4u/0Nb6GDicxVWNuVOCa7A5aLYE2iyDIoQ3hVPbKDHY0dLmz0dEee2PJVFQZz+rGyGg2ZOKn9OCbUJyHLewseNWI4YAR+6oKMO45j+1nWGGL0jyR8FZyGB6DwUteBLMSPk56dago4+/vmwYyLaUbPnADDVn5vGlSgYkVoa4rbl7O36Dd0/JdWCSvg9kkH8PZDsJyv3DXA0wZjg==") \
    .config('fs.s3a.path.style.access', 'true') \
    .config('fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem') \
    .config('fs.s3a.endpoint', 's3.amazonaws.com') \
    .getOrCreate()
    
sc = spark.sparkContext

In [5]:
spark

In [6]:
sc

In [7]:
# Load csv Dataset 
#
# desde S3
df=spark.read.csv('s3a://datamazapataj/datasets/covid19/Casos_positivos_de_COVID-19_en_Colombia-100K.csv',inferSchema=True,header=True)
#
# desde los datos ejemplo que trae google colab:
#
#df=spark.read.csv('sample_data/california_housing_test.csv',inferSchema=True,header=True)
#
# desde su carpeta del trabajo3 en google drive
#
# df=spark.read.csv('gdrive/MyDrive/st0263-2266/bigdata/datasets/Casos_positivos_de_COVID-19_en_Colombia.csv',inferSchema=True,header=True)
#

In [ ]:
#columns of dataframe
df.columns

DataFrame[ratings: int, age: int, experience: double, family: int, mobile: string]

In [ ]:
#printSchema
df.printSchema()

5

In [ ]:
df.select('fecha reporte web','Fecha de notificación','Ubicación del caso','Fecha de muerte').show(5)

['ratings', 'age', 'experience', 'family', 'mobile']

In [8]:
df.select('Fecha de notificación','Recuperado','Edad').withColumn("Edad despues de 10 años",(df["Edad"]+10)).show(10,False)

+---------------------+----------+----+-----------------------+
|Fecha de notificación|Recuperado|Edad|Edad despues de 10 años|
+---------------------+----------+----+-----------------------+
|2/3/2020 0:00:00     |Recuperado|19  |29                     |
|6/3/2020 0:00:00     |Recuperado|34  |44                     |
|7/3/2020 0:00:00     |Recuperado|50  |60                     |
|9/3/2020 0:00:00     |Recuperado|55  |65                     |
|9/3/2020 0:00:00     |Recuperado|25  |35                     |
|10/3/2020 0:00:00    |Recuperado|27  |37                     |
|8/3/2020 0:00:00     |Recuperado|85  |95                     |
|9/3/2020 0:00:00     |Recuperado|22  |32                     |
|8/3/2020 0:00:00     |Recuperado|28  |38                     |
|12/3/2020 0:00:00    |Recuperado|36  |46                     |
+---------------------+----------+----+-----------------------+
only showing top 10 rows

In [ ]:
df.select('ID de caso','Fecha de notificación','Recuperado','Edad').drop('Fecha de notificación').show(5)

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [ ]:
df.filter(df['Edad']>30).show(5)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
+-------+---+----------+------+-------+
only showing top 5 rows

In [ ]:
df.select('Nombre departamento','Recuperado').withColumnRenamed('Recuperado','sano').show(5)

In [ ]:
from pyspark.sql.functions import udf

In [ ]:
from pyspark.sql.types import StringType,DoubleType,IntegerType

In [ ]:
def realizar_cuarentena(dep):
  if dep == "Recuperado":
    return "No cuarentena"
  else:
    return "Realizar cuarentena"

In [ ]:
obj_udf=udf(realizar_cuarentena,StringType())
df.select('ID de caso','Edad','Recuperado').withColumn('Realizar cuarentena',obj_udf(df['Recuperado'])).show(10)